<ion-header>
  <ion-toolbar>
    <ion-title>Amigos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Lista de amigos</h3>
  <ion-list *ngFor="let friend of friends">
    <ion-grid>
      <ion-row>
        <ion-col size="6">{{friend.nome}}</ion-col>
        <ion-col size="2">{{friend.idade}}</ion-col>
        <ion-col size="2">{{friend.nivelAmizade}}</ion-col>
        <ion-col size="2">
          <ion-icon (click)="presentActionSheet(friend.nome)" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>